@import url("../../.local/state/kumin_theme/colors.css");
@import url("../../.local/state/kumin_theme/fonts.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.4);
    color: @accent_color;
    border-radius: 12px;
    margin: 0;
}

#window,
#tray,
#battery,
#custom-weather,
#pulseaudio,
#clock,
#backlight,
#network,
#bluetooth,
#mpris,
#cava {
    background: transparent;
    color: @accent_color;
    padding: 0 8px;
}

#mpris.paused {
    opacity: 0.6;
}

#cava {
    padding-left: 2px;
}

tooltip {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: @accent_color;
    font-size: 16px;
}

#network,
#bluetooth {
    min-width: 20px;
}
