//============================================
//         ____        __
//        / __ \__  __/ /__  _____
//       / /_/ / / / / / _ \/ ___/
//      / _, _/ /_/ / /  __(__  )
//     /_/ |_|\__,_/_/\___/____/
//
//============================================

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    
    match app-id=r#".*"#
    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 2
    }
}

window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    match app-id=r#"thunar"#
    match app-id=r#"zed"#
    match app-id=r#"foot"#
    match app-id=r#"firefox"#
    match app-id=r#"Alacritty"#
    opacity 0.8
}

window-rule {
    match app-id=r#"thunar"#
    default-column-width { proportion 0.65; }
}

window-rule {
    match app-id=r#"firefox"#
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"xdg-desktop-portal-gtk"#
    open-floating true
    default-floating-position x=0 y=0
    min-width 400
    min-height 600
}

layer-rule {
    match namespace="^waybar$"
    match namespace="^rofi$"
    match namespace="^mako$"
    geometry-corner-radius 12
    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 1
    }
}
